.wc-measurement-price-calculator-price .wts-vat-text{
	display: none;
}
.tiered-pricing--active .wts-vat-text{
	color: #ffffff;
}
h4.pewc-field-label .wts-price-wrapper > span, h4.pewc-field-label .wts-price-wrapper > span > span{
	font-size: 100%;
}
